body {
  background-image: url(cigle.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: auto;
}

@font-face {
  font-family: streetFont;
  src: url(RockSalt-Regular.ttf);
}

.zaglavlje {
  text-align: center;
  padding: 15px;
  margin: 0 0 5px;
  font-family: streetFont;
  font-size: 45px;
  color: black;
}

.otvaranje {
  text-align: center;
  padding: 15px;
  margin: 150px 0 0;
  font-family: streetFont;
  font-size: 45px;
  color: black;
  cursor: pointer;
}

.otvaranje:hover {
  font-size: 46px;
}

.zatvaranje {
  text-align: center;
  padding: 20px;
  margin: 0 0 5px;
  font-family: streetFont;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.zatvaranje:hover {
  font-size: 21px;
}

.otvoriFormu {
  display: none;
}

.dioNaslova {
  color: rgb(179, 32, 32);
}

.porukeIspis {
  background-color: rgba(18, 16, 17, 0.6);
  width: 63%;
  height: 57vh;
  border: 2px solid white;
  border-radius: 10px;
  margin: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}

.forma {
  display: flex;
  flex-direction: row;
  width: 65%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.input {
  width: 95%;
  height: 40px;
  border: 2px solid white;
  border-radius: 8px;
  padding-left: 5px;
  margin: auto;
  background-color: rgba(18, 16, 17, 0.9);
}

.input.ime {
  width: 200px;
  margin-right: 5px;
  color: white;
}

.input.poruka {
  margin-right: 5px;
  color: white;
}

.input.botun {
  width: 120px;
  background-color: rgba(179, 32, 32, 0.9);
  cursor: pointer;
}

.porukeLijevo {
  color: white;
  font-size: 20px;
  background-color: rgba(179, 32, 32, 0.6);
  border: 1px solid white;
  border-radius: 8px;
  width: 250px;
  overflow-wrap: break-word;
  text-align: center;
  padding: 5px;
  margin-left: auto;
  margin-right: 0;
}

.nadimakLijevo {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 0;
  color: lightgray;
  font-family: streetFont;

  font-size: 22px;
  width: 150px;
  overflow-wrap: break-word;
  text-align: left;
}

.datumLijevo {
  margin-top: 2px;
  margin-left: auto;
  margin-right: 0;
  color: white;
  font-size: 10px;
  width: 150px;
  overflow-wrap: break-word;
  text-align: left;
}

.porukeDesno {
  color: white;
  font-size: 20px;
  background-color: rgba(179, 32, 32, 0.6);
  border: 1px solid white;
  border-radius: 8px;
  width: 250px;
  overflow-wrap: break-word;
  text-align: center;
  padding: 5px;
  margin-left: 0;
  margin-right: auto;
}

.nadimakDesno {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: 0;
  color: white;
  font-family: streetFont;
  font-size: 22px;
  width: 150px;
  overflow-wrap: break-word;
  text-align: left;
}

.datumDesno {
  margin-top: 2px;
  margin-right: auto;
  margin-left: 0;
  color: white;
  font-size: 10px;
  width: 150px;
  overflow-wrap: break-word;
  text-align: left;
}
